// BUTTONS
.button{
    font-family: $secondaryFont;
    font-size: 1rem;
    font-weight: 500;
    color: $primaryColor;
    background-color: $accentColor;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1rem;
    padding: .7rem 1.2rem;
    border-radius: 2rem;
    text-decoration-line: none;
    width: 8rem;
    margin-top: -2%;
    margin-bottom:calc(16% + 4vw);
}
.button2 {
    margin: 6% auto 0;
    text-transform: capitalize;
}
.button1:hover,
.button1:focus-within,
.button2:hover,
.button2:focus-within {
    // background-color: lighten($secondaryColor, 100%);
    background-color: #fce112;
}