// BASE SIZE 10px, with default 16px browser
html {
    font-size: 62.5%;
}

body {
    // BASE FONTS & Smoothing
    font-family: $primaryFont;
    font-family: $secondaryFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // Smoothing resizing with Transitions
    transition: all, 1000ms, ease-in;
    background-color: lighten($primaryColor, 8%);
}

.wrapper {
    margin: 0 auto;
    // max-width: 1280;
    max-width: 1440;
    width: 90%;
}


h1,
h2,
h3
{
    font-family: $primaryFont;
}
h3{
    display: inline-block;
    margin: auto; //vertically centering
    // font-size: ;
}

p{
    font-family: $secondaryFont;
    font-size: 1.6rem;
    // line-height: 2.4rem; 
}

// LANDING PAGE
.hole {
    @include circle(60px, $lightColor); 
    //... expecting (size -likely pixels, color)
    // currently is...
    // width: 60px; 
    // height: 60px;
    // background-color: $lightColor); 
    // border-radius: 50%;
    // text-align: center;
    // display: flex; //enabling vertical centering
    // flex-direction: column;
        &.largeLogo {
            width: calc(100vw * .9);
            height: calc(100vw * .9);
            max-width: 420px;
            max-height: 420px;
            margin: auto; //vertically centering
        }
}

// Needed to Facilitate centering
.featContainer { 
    display: flex; //enabling centering
    height: 100vh; //enabling vertical center
    padding-bottom: 5vh; //visual centering
}




h1{
    color: $secondaryColor;
    font-size: 6.4rem;
    line-height: 6rem; 
    // text-transform: uppercase;
    font-weight: 500;
    margin: auto;
    padding-bottom: .2rem; 
        span{
            font-size: 2.25rem;
            line-height: 3rem;
            text-transform: lowercase; 
            letter-spacing: .04rem;
            display: block;
            opacity: 30%;
                &:last-of-type{
                    padding-top: .5rem;     
                    color: $accentColor;
                    opacity: 60%;
            }
        }
}

// INSTRUCTIONS & START BUTTON
.landingElement {
    visibility: hidden;
    opacity: 0%; //needed for h1 to transition 
    background-color: lighten($primaryColor, 8%);
    transition: all, 1000ms;

        // h1{
        //     opacity: 0%;
        //     transition: all, 1000ms;
        // }
}
