// BASE SIZE 10px, with default 16px browser
html {
    font-size: 62.5%;
}

// BASE FONTS
body {
    font-family: $primaryFont;
    font-family: $secondaryFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all, 1000ms, ease-in;
}

h1,
h2,
h3
{
    font-family: $primaryFont;
}

p{
    font-family: $secondaryFont;
    font-size: 1.6rem;
    // line-height: 2.4rem; 
}

// LANDING PAGE
.featContainer {
    display: flex;
    // margin:auto;
    // flex-direction: ;
    height: 100vh;
    width: 100%;
    // background-color: $primaryColor;
    background-color: lighten($primaryColor, 8%);
}
.logo {
    background-color: $lightColor;
    width: 420px;
    height: 420px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
}
h1{
    color: $secondaryColor;
    font-size: 6.4rem;
    line-height: 6rem; 
    // text-transform: uppercase;
    font-weight: 500;
    margin: auto;
    padding-bottom: .2rem; 
        span{
            font-size: 2.25rem;
            line-height: 3rem;
            text-transform: lowercase; 
            letter-spacing: .04rem;
            display: block;
            opacity: 30%;
                &:last-of-type{
                    padding-top: .5rem;     
                    color: $accentColor;
                    opacity: 60%;
            }
        }
}


// INSTRUCTIONS & START BUTTON
.landingElement {
    visibility: hidden;
    // opacity: 0%;
    background-color: lighten($primaryColor, 8%);
    transition: all, 1000ms;
        h1{
            opacity: 0%;
            transition: all, 1000ms;
        }
}