
// FONTS
$primaryFont: 'Lora', serif;
$secondaryFont: 'Montserrat', sans-serif;

// COLORS
$primaryColor: rgb(12, 70, 106) ;
$secondaryColor: hsl(208, 93%, 84%);

$lightColor: rgb(247, 255, 255);
$darkColor: rgba(51, 55, 69, 1);

$accentColor:  rgb(255, 245, 134);

// MIXINS
@mixin circle($size: 50px, $color: $primaryColor){
    // height & width are the same for circle
    // $lightColor is default
    width: #{$size}; 
    height: #{$size};
    background-color: #{$color}; 
    border-radius: 50%;
    text-align: center;
    display: flex; //enabling vertical centering
    flex-direction: column;
}

// @mixin fluid-font-size($minFont: 16px, $maxFont, $minScreen: 320px, $maxScreen)
// {
//     font-size: calc(#{$minFont} + (#{$maxFont} - #{$minFont}) * ((100vw - #{$minScreen}) / (#{$maxScreen} - #{$minScreen})));
// }

// @mixin fluidFontSize($minFont: 1.6rem, $maxFont){ 
//     font-size: max(min(#{$minFont}), #{$maxFont});
// }

