html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all, 1000ms, ease-in;
  transition: all, 1000ms, ease-in;
  background-color: #b0d9fc;
}

body .fa, body .far, body .fas {
  font-family: "Font Awesome 5 Free";
}

.wrapper {
  margin: 0 auto;
  max-width: 1440;
  width: 96%;
}

h1, h2, h3, p {
  font-family: "Lora", serif;
  font-weight: 500;
  color: #f7ffff;
  margin: auto;
}

h1 {
  font-size: 4.6rem;
  line-height: 4rem;
  font-weight: 500;
  padding: calc(10% + 3vw) 5% 0 5%;
}

h1 span {
  font-size: 1.8rem;
  line-height: 1.6rem;
  text-transform: lowercase;
  letter-spacing: .04rem;
  display: block;
  opacity: 30%;
  padding-bottom: .4rem;
}

h1 span:last-of-type {
  padding-top: .5rem;
  padding-bottom: 0;
  margin-bottom: -5%;
  color: #fff586;
  opacity: 100%;
}

h2 {
  font-size: calc(2.2rem + .5vw);
  line-height: calc(2.2rem + 1vw);
  margin-left: 1%;
}

h2 span {
  padding-left: 10%;
}

h3 {
  color: #0c466a;
  font-size: calc(1.3rem + .8vw);
  line-height: calc(1.9rem + 1vw);
}

p {
  font-size: 1.4rem;
  line-height: calc(1.6rem + .8vw);
}

.hole {
  width: 50px;
  height: 50px;
  background-color: #0c466a;
  border-radius: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  position: absolute;
  z-index: 10;
}

.headLogo {
  margin: 3vh;
}

.featContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-bottom: 2vh;
  position: relative;
}

.lrgLogo,
.info,
.firstQuestion {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 90vw;
  height: 90vw;
  margin: auto;
}

.lrgLogo {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info {
  z-index: 5;
}

blockquote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: calc(1% + 2.3vw);
  padding: 10% 0 0 0;
}

blockquote div.inQuotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(87% + 5vw);
}

blockquote .h2 {
  position: absolute;
}

blockquote .quotationMarks {
  font-family: 'Sorts Mill Goudy', serif;
  color: #fff586;
  font-size: 6rem;
  line-height: 0rem;
}

blockquote .quotationMarks.openQuote {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding-top: 45%;
  position: relative;
  right: calc(2.5% - .5vw);
  top: calc(15% - 3vw);
}

blockquote .quotationMarks.closeQuote {
  padding-top: 40%;
}

blockquote p {
  opacity: 50%;
  font-size: 14px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0;
  width: 100%;
  padding-left: 30%;
  line-height: 5%;
}

.info p {
  padding-top: calc(.5% + 2vw);
  width: 82%;
}

.firstQuestion {
  z-index: 1;
  background-color: inherit;
  border: 2px solid rgba(12, 70, 106, 0.317);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questionBlock {
  width: calc(60% + 3vw);
  height: calc(20% + 1vw);
  background-color: none;
}

.holeOption1 {
  border: none;
  position: absolute;
  background-color: #23708c;
  height: calc(75px + 2.5vw);
  width: calc(75px + 2.5vw);
  top: -10%;
}

button p {
  width: 100%;
  text-align: center;
  font-size: calc(1.3rem + .3vw);
  line-height: calc(1.4rem + .5vw);
}

.button {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #0c466a;
  background-color: #fff586;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .1rem;
  padding: .7rem 1.2rem;
  border-radius: 2rem;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  width: 8rem;
  margin-top: -2%;
  margin-bottom: calc(16% + 4vw);
}

.button2 {
  margin: 6% auto 0;
  text-transform: capitalize;
}

.button1:hover,
.button1:focus-within,
.button2:hover,
.button2:focus-within {
  background-color: #fce112;
}

.landingElement {
  visibility: hidden;
  -webkit-transition: all, 700ms, ease-in;
  transition: all, 700ms, ease-in;
}

.hideMe {
  visibility: hidden;
  -webkit-transition: all, 700ms, ease-in;
  transition: all, 700ms, ease-in;
}

@media (min-width: 375px) {
  blockquote div.inQuotes {
    width: calc(70% + 5vw);
  }
  .questionBlock h3 {
    width: 85%;
  }
}

@media (min-width: 480px) {
  .hole,
  .lrgLogo,
  .info
.firstQuestion {
    max-width: 420px;
    max-height: 420px;
  }
  h1 {
    font-size: calc(3.7rem + 1.6vw);
    line-height: calc(3.7rem + 1vw);
  }
  h1 span {
    font-size: calc(1.6rem + .2vw);
    line-height: calc(1.6rem + .3vw);
  }
  blockquote div.inQuotes {
    width: calc(60% + 4vw);
  }
  blockquote div.inQuotes .quotationMarks {
    font-size: calc(5rem + 1.6vw);
  }
  blockquote div.inQuotes .quotationMarks.openQuote {
    padding-top: 35%;
    top: calc(10% - 1vw);
  }
  blockquote p {
    font-size: calc(1.3rem + .3vw);
  }
  p {
    font-size: 1.7rem;
    line-height: calc(1.6rem + .8vw);
  }
  .info p {
    padding-top: 2%;
    width: 82%;
  }
}

@media (min-width: 1120px) {
  .questionBlock h3 {
    width: 100%;
  }
}

@media (max-height: 480px) {
  .hole.lrgLogo {
    width: 300px;
    height: 300px;
  }
}
